/* Avstand og tekst */
p {
  margin: 10px 0;
  font-size: 18px;
}
/* Overskrift bokser */
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

/* Section header */
.section_header_methodology {
  min-height: 70vh;
  display:flex;
  font-weight: bold;
 }
.header {
  display: flex;  
  align-items: start;
  background:transparent;
}
.header .box {
  flex: 1;
  background: transparent !important;
  color: #ffffff;
  border-radius: 0px;
  margin: 20px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

/* Section methodology */
.section_body_methodology {
  background-color:#5f5541;
  padding-bottom: 50px;
  
}

/* Bakgrunn formel box */
.methodology {
  display: flex;  
  align-items: start;
  background: #5f5541;
  gap: 20px;
}
/* Overskrift: Our numbers and formulas */
h6 {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  display: flex;
}

.section_footer_methodology {
  display: flex;
  flex-direction: column;
  gap:15px;
}

/* Human Power */
.section_footer_methodology .box_table1 {
  flex: 1;
  background: hsl(68, 51%, 85%);
  color: rgb(3, 3, 3);
  border-radius: 6px;
  border: 2px solid #000000;
  margin: 10px 10px 10px 10px;
  padding: 15px 15px;
  text-align:center;
  align-items: center;
  justify-content: center;
  
}

/* Formel boksene */
.methodology .box_table2 {
  flex: 1;
  background: hsl(68, 51%, 85%);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  margin: 20px 20px 20px 20px;
  padding: 15px 15px;
  text-align:center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  border: 2px solid #000000;

}

@media (max-width:768px) { 
  .header {
    flex-direction: column;
  } 
  .methodology {
    flex-direction: column;
  } 
}
